<div class="content-container">
    <div class="card-container">
        <h1 class="heading">Register</h1>

        <div class="fields">
            <label for="username">Username :</label>
            <input type="text" name="" id="username">
        </div>

        <div class="fields">
            <label for="firstName">First Name :</label>
            <input type="text" name="" id="firstName">
        </div>

        <div class="fields">
            <label for="lastname">Last Name :</label>
            <input type="text" name="" id="lastname">
        </div>

        <div class="fields">
            <label for="email">Email :</label>
            <input type="text" name="" id="email">
        </div>

        <div class="fields">
            <label for="password">Password :</label>
            <input type="text" name="" id="password">
        </div>

        <app-button [title]="submitBtn"></app-button>

        <p>If you already have an account go to <a routerLink="/auth/login" id="link">Login</a></p>
    </div>
</div>