.content-container{
    /* margin : 5em 6em; */
    padding: 5em 6em;
    min-height : 80%;
    /* background-color: rgb(88, 134, 96); */
}
.card-container{
    display: flex;
    justify-content: space-around;
    gap: 5em;
}

#heading{
    text-align: center;
    margin-bottom: 2em;
    font-family: "Della Respira", serif;
}

.card{
    padding: 2em;
    width: 30em;
    height: 22em;
    background-color: rgb(88, 134, 96);

    /* background-color: rgb(19, 165, 117); */
    /* background-color: rgb(19, 165, 117); */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    gap: 2em;
}

.container-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.definition{
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.definition-left{
    font-weight: 500;
}

#img-container{
    width: 10em;
    height: 15em;
    margin-bottom: 1em;
}

#img-container img{
    display: block;
    width: 100%;
    height: auto;
}

.details{
    width: 30em;
    height: 25em;
}