<div class="content-container">
    <h1 id="heading">Catalog </h1>
    <div class="card-container">

        <div *ngFor="let pet of pets" class="card">
            <div class="container-left">
                <div class="definition">
                    <p class="definition-left">Type of animal : </p>
                    <p>{{pet.animalType}}</p>
                </div>
                <div class="definition">
                    <p class="definition-left">Breed : </p>
                    <p>{{pet.breed}}</p>
                </div>
                <div class="definition">
                    <p class="definition-left">Name :</p>
                    <p>{{pet.name}}</p>
                </div>
                <div class="definition">
                    <p class="definition-left">Description :</p>
                    <p>{{pet.description | shorten: 5}}</p>
                </div>
            </div>
            <div class="container-right">
                <p id="img-container"><img src={{pet.imageUrl}} alt="img"></p>
                <app-button [title]="detailsBtn"  class="details" [routerLink]="[pet._id, 'details']"></app-button>
            </div>
        </div>
    </div>
</div>